*{
    margin: 0px;
padding: 0px;
}
/* made a container to work with */
.container{
    width: 700px;
    height: 700px;
    /* background-color: lightseagreen; */
    margin: 0 auto;
    display:flexbox;
    vertical-align: middle;
}
/* top will have all the contents inside */
.top{
    width: 300px;
    height: 75px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid black;
border-left:2px solid black;
border-right: 2px solid black;
}

/* this will be used for change attributes on all 3 languages for id countlike */
.countlike {
    padding:2px;
}





.bottom{
    width: 300px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
border-right: 2px solid black;
}








/* .filter p{

} */
